html, body {
    margin: 0;
    padding: 20px;
    font-size: 35px !important;
}
main {
    margin: 0;
    padding: 0;
    display: flex;
}
section {
    border: 1px solid black;
    margin: 10px;
    padding: 0;
    width: 50%;
}
ul {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    list-style-type: none;
}
li {
  display: flex;
}
input {
    height: 40px;
}
div.blue-color-box {
    margin: 10px;
    height: auto;
    width: 15px;
    background: blue;
}
div.green-color-box {
    margin: 10px;
    height: auto;
    width: 15px;
    background: green;
}
div.red-color-box {
    margin: 10px;
    height: auto;
    width: 15px;
    background: red;
}
.array {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}
textarea {
    resize: none;
}