body {
    background: radial-gradient(rgb(5, 134, 219), blue);
}
main {
    block-size: fit-content;
    display: flex;
    justify-content: center;
}
/* :root {
    font-size: 100%;
} */
h1, h2 {
    text-align: center;
    color: aliceblue;
}
.text_fields {
    display: grid;
}
button {
    border: 1px solid;
    font-family: "Lucida" Grande, sans-serif;
    border-radius: 5px;
    background: rgb(29, 31, 47);
    width: 55px; 
    height: 35px;
    margin: 0px;
    color: white;
    align-items:center;
}
button.number {
    background: rgb(38, 41, 61);
}
button.reverse_button {
    background: rgb(38, 41, 61);
}
button:hover {
    background:rgb(16, 119, 187);
}
.textarea {
    border-radius: 5px;
    font-family: "Lucida" Grande, sans-serif;
    font-weight: 600;
    font-size: 200%;
    width: 214px;
    height: 200px;
    text-align: right;
    color: white;
    background: rgb(29, 31, 47);
    resize: none;
}
.input_field {
    border-radius: 5px;
    border: 1px solid;
    width: 214px;
    background: rgb(29, 31, 47);
    color: white;
}
div {
    display: flex;
}